<!doctype html>
<html>
<head>
  <meta charset="utf-8">
  <title>MrgPortfolio</title>
  <base href="/">

  {{#unless environment.production}}
  <script src="/ember-cli-live-reload.js" type="text/javascript"></script>
  {{/unless}}
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" type="image/x-icon" href="favicon.ico">
</head>
<body>
  <mrg-portfolio-app>Loading...</mrg-portfolio-app>

  

    {{#each scripts.polyfills}}<script src="{{.}}"></script>{{/each}}
    <script>
      System.import('system-config.js').then(function () {
        System.import('main');
      }).catch(console.error.bind(console));
    </script>

  



</body>
</html>
